/*Custom*/
.preloader-video {
    display: block;
    position: absolute;
    top: 30%;
    left: 32%;
}

.gradient-bg {
	background-image: linear-gradient(to right, rgba(122,205,244,0.5), rgba(255,0,0,0));
}

.subheading {
	font-size: 17px;
    font-weight: 600;
    /*text-decoration: underline;*/
}

.si-user {
	background-color: #444;
    color: #FFF !important;
	width: 100px;
}

.text-justify {
	text-align: justify;
}

.mega-menu-separator {
    border: 1px solid #444;
    margin: 15px;
    text-align: center;
}

.button-hover:hover {
	background-color: #25326b !important;
}

.button-learn-more:hover {
	background-color: #7acdf4 !important;
	color: white !important;
}

.mobile-desc-r {
	padding-right: 0px !important;
}

.mobile-desc-l {
	padding-left: 0px;
}

.acc-available {
    position: relative;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    /*padding-bottom: 5px;*/
    text-align: center;
    letter-spacing: .025;
    /*background: rgba(0,0,0,.2);*/
}

.acc-available__item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin: 0 24px;
}

.acc-available__title {
    margin: auto 50px auto 0;
    color: #777;
}

.btn-t34.-gplay {
    min-width: auto;
    padding-right: 40px;
}
.btn-t34.-text-s02 {
    font-size: 13px;
}
.btn-wrap__btn {
    margin-bottom: 10px;
}

.btn-t34 {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    min-width: 274px;
    max-width: 344px;
    padding: 0 15px;
    margin: 0 15px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: .025em;
    text-align: center;
    border: none;
    color: #fff;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
    background: 0 0;
    background-image: linear-gradient(to right,#106bd7 0,#1096df 100%);
}

.-gplay .btn-t34__inner {
    font-size: 13px;
    font-weight: 500;
    padding: 8px 0 0 60px;
    text-align: left;
    line-height: 1.3;
    letter-spacing: .02em;
}

.btn-t34__inner {
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
}

.-gplay .btn-t34__inner:before {
    position: absolute;
    left: 5px;
    top: 50%;
    width: 34px;
    height: 38px;
    content: '';
    background: url(images/sections/icon-google-play.svg) 50% 50% no-repeat;
    background-size: cover;
    transform: translate(0,-50%);
}

.btn-t34:before {
    background-image: url('images/sections/download-before.svg');
}
.btn-t34:before {
    right: 100%;
    background-position: left 0;
    background-image: url('images/sections/download-before.svg');
}

.btn-t34:after, .btn-t34:before {
    position: absolute;
    top: -2px;
    bottom: -2px;
    z-index: 0;
    width: 15px;
    height: 70px;
    content: '';
    background-repeat: no-repeat;
    background-size: 17px 70px;
}

.btn-t34:after {
    background-image: url('images/sections/download-after.svg');
}
.btn-t34:after {
    left: 100%;
    background-position: right 0;
    background-image: url('images/sections/download-after.svg');
}
.btn-t34:after, .btn-t34:before {
    position: absolute;
    top: -2px;
    bottom: -2px;
    z-index: 0;
    width: 15px;
    height: 70px;
    content: '';
    background-repeat: no-repeat;
    background-size: 17px 70px;
}

.download-devices-content__btn:hover {
	color: white !important;
}

.btn-t34-green {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    min-width: 274px;
    max-width: 344px;
    padding: 0 15px;
    margin: 0 15px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: .025em;
    text-align: center;
    border: none;
    color: #fff;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
    background: 0 0;
    background-image: linear-gradient(to right,#00C04C 0,#01DD67 100%);
}

.btn-t34-green:before {
    background-image: url('images/sections/download-before-green.svg');
}
.btn-t34-green:before {
    right: 100%;
    background-position: left 0;
    background-image: url('images/sections/download-before-green.svg');
}

.btn-t34-green:after, .btn-t34-green:before {
    position: absolute;
    top: -2px;
    bottom: -2px;
    z-index: 0;
    width: 15px;
    height: 70px;
    content: '';
    background-repeat: no-repeat;
    background-size: 17px 70px;
}

.btn-t34-green:after {
    background-image: url('images/sections/download-after-green.svg');
}
.btn-t34-green:after {
    left: 100%;
    background-position: right 0;
    background-image: url('images/sections/download-after-green.svg');
}
.btn-t34-green:after, .btn-t34-green:before {
    position: absolute;
    top: -2px;
    bottom: -2px;
    z-index: 0;
    width: 15px;
    height: 70px;
    content: '';
    background-repeat: no-repeat;
    background-size: 17px 70px;
}

.btn-t34-green.-gplay {
    min-width: auto;
    padding-right: 40px;
}
.btn-t34-green.-text-s02 {
    font-size: 13px;
}

.slider-title-cust {
	color: #444;
}

.award-slide {
	font-size: 8px;
	/*margin-left: 20%;*/
}

.award-image {
    width: 20% !important;
    text-align: left;
    position: absolute;
}

.container-award {
	padding-left: 20px;
    padding-right: 20px;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  .slider-caption-cust {
		margin-left: 100px;
	}
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .slider-caption-cust {
		margin-left: 100px;
	}
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .hide-mobile {
  	display: none !important;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .hide-mobile {
  	display: none !important;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 812px) {
  
  .hide-mobile {
  	display: none !important;
  }

  .preloader-video {
    top: 10% !important;
    left: 15% !important;
  }

  .mega-menu-subtitle {
    border-top: none !important;
  }

	.btn-demo {
	    width: 90%;
	    text-align: center;
	}
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .hide-mobile {
  	display: none !important;
  }

  .preloader-video {
    left: 0% !important;
  }

  .mega-menu-subtitle {
    border-top: none !important;
  }

	.btn-demo {
	    width: 90%;
	    text-align: center;
	}

	.mobile-desc-r {
	    text-align: left !important;
	}

	.mobile-mt-1 {
		margin-top: 1rem !important;
	}

	.mobile-mt-3 {
	    margin-top: 3rem !important;
	}

	.mobile-nobg {
		background: none !important;
	}

	.mobile-copyright {
		text-align: left !important;
	}
  
}
/* ----------------------------------------------------------------
	CSS Specific to the Seo Demo

	Some of the CSS Codes have been modified from the Original
	style.css File to match the Styling of this Demo

-----------------------------------------------------------------*/

/* Root Settings
-----------------------------------------------------------------*/
:root {
	--themecolor:  #fE9603;
	--buttonthemecolor: rgba(254,150,3,0.15);
	--badgethemecolor: rgba(254,150,3,0.09);
	--basefontsize: 16px;
	--fontfamily: 'Poppins', sans-serif;
	--headerboxshadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);;
	--menufontsize: 15px;
}

/* Buttons
-----------------------------------------------------------------*/
.button {
	text-shadow: none;
	font-weight: 600;
}

.button:hover {
	transform: translateY(-1px);
	box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

#header .button { display: none; }

/* Top Links
-----------------------------------------------------------------*/
.top-links ul li { border-left: 0; }

.top-links li a img {
	position: relative;
	display: inline-block;
	border-radius: 20px;
	width: 20px;
	height: 20px;
	top: -2px;
	margin-right: 8px;
	border: 1px solid #FFF;
	background-color: #555;
}

.dark #top-social li a { color: #555; }

.border-bottom { border-color: #EEE !important;}

.feature-box h3 span { font-size: var(--basefontsize); }

.heading-block > p {
	font-size: var(--basefontsize);
	color: #777;
}

.slider-title p,
.feature-box.fbox-center p {
	font-size: calc( var(--basefontsize) - 1px );
	line-height: 1.7;
	color: #777;
	letter-spacing: 0;
}

.play-icon i {
	width: 70px;
	height: 70px;
	line-height: 71px;
	font-size: 24px;
	background: linear-gradient(60deg, #fE9603, #ff8e01, #ed9931, #f37055);
	color: #FFF;
	text-align: center;
	border-radius: 50%;
	padding-left: 4px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	transition: transform .3s ease;
	animation: animdgradient 3s ease alternate infinite;
	background-size: 300% 300%;
}

@keyframes animdgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.play-icon:hover i { transform: scale(1.1); }

#oc-clients .oc-item img { height: 32px; }

/* Pricing Switcher
-----------------------------------------------------------------*/
.pricing-tenure-switcher { position: relative; }

.pricing-tenure-switcher .pts-left,

.pricing-tenure-switcher .pts-right,
.pricing-tenure-switcher .pts-switcher {
	display: inline-block;
	margin: 0 10px;
	height: 30px;
	overflow: hidden;
}

.pricing-tenure-switcher .pts-left,
.pricing-tenure-switcher .pts-right {
	font-size: var(--basefontsize);
	font-weight: 600;
	color: #AAA;
	line-height: 30px;
}

.pricing-tenure-switcher .pts-switch-active { color: #333; }

.pricing-tenure-switcher .pts-switcher label { margin-bottom: 0; }

input.switch-toggle-round + label:before,
input.switch-toggle-round + label {
	border-radius: 4px;
	background-color: var(--themecolor);
}

.price-discount {
	position: absolute;
	display: block;
	top: 0;
	left: 50%;
	margin-top: -15px;
	margin-left: 65px;
	background: url('images/icons/discount.svg') no-repeat 0 0;
	width: 60px;
	height: 39px;
}

input.switch-toggle-round + label:after { border-radius: 4px }

/* Pricing Boxes
-----------------------------------------------------------------*/
.pricing-box {
	border-color: rgba(17, 18, 18, .1);
	text-align: left;
	padding: 20px;
	background-color: #FFF;
	box-shadow: none;
	margin-right: -1px;
}


/* Pricing Boxes - Title
-----------------------------------------------------------------*/
.pricing-title {
	padding: 0;
	background-color: transparent;
	border-bottom: 0;
}

.pricing-title h3 {
	margin: 0;
	font-size: 21px;
	letter-spacing: 0;
	color: #555;
	text-transform: none;
}

.pricing-title span {
	font-size: 14px;
	text-transform: capitalize;
}


/* Pricing Boxes - Price
-----------------------------------------------------------------*/
.pricing-price {
	position: relative;
	font-weight: 500;
}

.pricing-price:after { content: none; }

.pricing-price span.price-tenure {
	display: block;
	font-size: 15px;
	font-weight: normal;
	color: #AAA;
	text-transform: lowercase;
}

/* Pricing Boxes - Features
-----------------------------------------------------------------*/
.pricing-features ul { padding: 0 0 20px 0; }

.pricing-features li {
	padding: 7px 0;
	font-size: 14px;
}

.pricing-features li i {
	position: relative;
	top: 2px;
	font-size: var(--basefontsize);
}


/* Pricing Boxes - Action
-----------------------------------------------------------------*/
.pricing-action {
	padding: 0;
	text-align: center;
}

/* Badge
-----------------------------------------------------------------*/
.badge {
	padding: 8px;
	font-size: 12px;
	margin-bottom: 15px;
	border-radius: 2px;
	font-weight: 500;
	line-height: .8;
}

.badge.badge-default {
	border: 1px solid var(--themecolor);
	color: var(--themecolor);
}

/* Testimonials Carousel
-----------------------------------------------------------------*/
.testimonials-carousel .owl-stage { padding-top: 40px }

.testimonials-carousel .owl-item {
	opacity: .6;
	transition: transform .3s ease;
	transform: scale(0.8);
}

.testimonials-carousel .owl-item.active.center {
	opacity: 1;
	transform: scale(1);
}

.testimonial {
	border: 0;
	box-shadow: 0 0 35px rgba(140, 152, 164, 0.2);
	border-radius: 0.25rem;
	padding: 25px;
}

.testi-image {
	float: none;
	margin: -55px auto 0;
	margin-bottom: 20px;
}

.testi-content p {
	text-align: center;
	font-style: normal;
	font-family: var(--fontfamily);
	font-size: var(--basefontsize);
}

.testi-meta {
	text-align: center;
	margin-top: 20px;
}

/* Blog
-----------------------------------------------------------------*/
.entry-title h3 {
	font-size: 17px;
	margin-bottom: 13px;
}

.entry .entry-title h3 a { color: #222 !important }
.entry-meta li { font-style: normal; }
.entry-meta li:before { content: "\00b7"; }
.entry-meta li a { font-weight: 500; }

/* Footer
-----------------------------------------------------------------*/
.footer-big-contacts {
	color: #333;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
}

.footer-big-contacts span {
	display: block;
	font-size: 10px;
	font-weight: 400;
	text-transform: uppercase;
	color: #888;
	letter-spacing: 2px;
}

.dark .footer-big-contacts { color: rgba(255,255,255,0.8); }

.subscribe-widget .form-control { height: calc(2.25rem + 4px) !important; }

.subscribe-widget .button {
	transform: none;
	box-shadow: none;
}

.promo-section:before {
	content: '';
    position: absolute;
    /*top: -17%;*/
    left: 45%;
    width: 80%;
    height: 451px;
    background-size: 1280px 451px;
    background-repeat: no-repeat;
	background-image: url('images/hero/hero-3.svg');
}

.text-white {
	color: white;
}


/* Responsive Device more than 992px (.device-md >)
-----------------------------------------------------------------*/
@media (min-width: 992px) {

	#header.transparent-header.floating-header + #slider {
		top: -165px;
		margin-bottom: -165px;
	}

	#header.transparent-header.floating-header { margin-top: 25px; }

	#header:not(.sticky-header) #header-wrap .container { box-shadow: var(--headerboxshadow) }

	#header.transparent-header + #page-title.page-title-parallax .container { padding-top: 80px; }

	#primary-menu ul li > a {
		padding-top: 29px;
		padding-bottom: 29px;
		text-transform: none;
		letter-spacing: 0;
		font-size: var(--menufontsize);
		font-weight: 600;
	}

	#top-search {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	#header,
	#header-wrap,
	#logo img { height: 80px; }

	#header.sticky-header:not(.static-sticky),
	#header.sticky-header:not(.static-sticky) #header-wrap,
	#header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img { height: 70px; }

	#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
		padding-top: 24px;
		padding-bottom: 24px;
	}

	#header.sticky-header:not(.static-sticky) #top-search {
		margin-top: 25px !important;
		margin-bottom: 25px !important;
	}

	#header .button {
		display: inline-block;
		margin: 20px 0;
		text-transform: none;
		letter-spacing: 0;
		font-size: calc( var(--basefontsize) - 1px );
		-webkit-transition: all .4s ease;
		-o-transition: all .4s ease;
		transition: all .4s ease;
	}

	#header.sticky-header .button {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	/* Topbar
	-----------------------------------------------------------------*/
	#top-bar.transparent-topbar {
		display: block;
		z-index: 299;
		border-bottom: 0;
		padding-top: 15px;
	}

	#top-bar.transparent-topbar { background: transparent !important; }

	/* Slider Text
	-----------------------------------------------------------------*/
	.slider-title h2 {
		font-size: 30px;
		line-height: 1.3;
		letter-spacing: -1px;
		font-weight: 700;
		margin-bottom: 26px;
	}

	.slider-title h3 {
		font-size: 18px;
		color: #AAA;
	}
}